/*** Hyperlinks ***/
a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #666766;
}
.nav-bg {
  background-color: #ef3b39;
  color: #fff;
  a {
    color: #fff;
  }
}

 .dropdown-menu-bg {
    background: #777;
 }