#work-menu {
    background: $navigation-background;
    ul {
        list-style: none;
        width:100%;
        cursor: pointer;
        
        li {
            padding: 12px 5px;
        }
    }
    
   a {
     color: $hyperlink-color;
   }

}