/** Helpers **/
@import './helpers/_mixins.scss';
@import './helpers/_variables.scss';
@import './helpers/_libs.scss';


/** Base **/
@import './base/_reset.scss';
@import './base/_color.scss';
@import './base/_typography.scss';


/** Components **/
@import './components/_navigation.scss';
@import './components/_buttons.scss';

/** Layout **/
@import './layout/_header.scss';
@import './layout/_main.scss';
@import './layout/_footer.scss';


/** Pages **/
@import './pages/_home.scss';
@import './pages/_skills.scss';
@import './pages/_contact.scss';
@import './pages/_portfolio.scss';


/** Themes **/
@import './themes/_themes.scss';