@import "../helpers/_variables";
@import "../helpers/_mixins";

aside {
        background-color: $primary-color;

        color: $sidebar-font-color;
        .navbar {
            border-top: 0;
        }
        .navbar {
            border-top: 2px solid black;
        }

        .nav {
            text-align: right;

            .nav-link {
                padding-top: .9rem;
                padding-bottom: .9rem;
            }
        }

        a {
            color: $sidebar-font-color;
        }
        a:hover {
            color: $sidebar-hyperlink-font-color;
        }
        .router-link-active {
            font-weight: 600;
            color: $sidebar-hyperlink-font-color;
        }

        .primary-menu .nav-item:hover:after,
        .primary-menu .nav-item.router-link-active:after {
            content: ' ';
        }

        .navbar-toggler {
            border-color: white;
        }

        .user {
            .avatar {
                max-width: 190px;
            }
        }
        
        @include breakpoint(lg) {
            position: fixed !important;
            height: 100%;
            .primary-menu .nav-item:hover:after,
            .primary-menu .nav-item.router-link-active:after {
                content: ' >';
            }
        }
}


