@import "../helpers/_variables";
@import "../helpers/_mixins";

aside {
    
        background-color: $primary-color;

        color: $sidebar-font-color;

        a {
            color: $sidebar-font-color;
        }
        a:hover {
            color: $sidebar-hyperlink-font-color;
        }


        .navbar-toggler {
            border-color: white;
        }

        .user {
            .avatar {
                max-width: 190px;
            }
        }

        @media (max-width: 992px) {
            .nav {
                text-align: right;
                .nav-link {
                    padding-top: .9rem;
                    padding-bottom: .9rem;
                }
            }
        }

}


