@import "../helpers/_variables";
@import "../helpers/_mixins";

aside {
    
        background-color: #ef3b39;

        color: rgba(255, 255, 255, .8);

        a {
            color: rgba(255, 255, 255, .8);
        }
        a:hover {
        color: rgba(255, 255, 255, 1);

        }

        .nav a:hover {
            text-decoration: underline;
            color: #fff;
        }

        .navbar-toggler {
            border-color: white;
        }

        .user {
            .avatar {
                max-width: 190px;
            }
        }
}


