.work-container {
    nav {
        ul {
            height: inherit;
            li {
                cursor: pointer;
                padding: 14px;
                color: #aaa;
             }

             li:hover {
                 color: #444;
             }

             .active {
                 color: #000;
                 font-weight: 800;
             }
        }
        

    }

    .websites-container, .apps-container, .games-container {
        display: none;
        list-style-type: none;
    }
    
}