@import "../helpers/_variables";

#frontend {
    padding-top: 50px;
    color: #fff;
    height: 100vh;
    background: #000;
    a {
        color: $primary-color;
    }
    a:hover {
        text-decoration: underline;
    }
}
