$font-stack: 'Roboto', serif, 'Open Sans';
$primary-color: #EB2427;
$secondary-color: #666766;
$hyperlink-color: #999;
$navigation-background: #000;
$admin-sidebar-bg: #333;
$btn-color-3: #ffcd06;
$btn-color-4: #e94043;