$font-stack: 'Roboto', serif, 'Open Sans';
$primary-color: #000;
$sidebar-font-color: rgba(255, 255, 255, .5);
$body-bg: #000;
$body-img:url('');
$secondary-color: #ffc909;
$hyperlink-color: #999;
$sidebar-hyperlink-font-color: #fff;
$navigation-background: #000;
$admin-sidebar-bg: #333;
$btn-color-3: #ffcd06;
$btn-color-4: #e94043;

$adminSidebarBg: #000;
$adminSidebarFontColor: #fff;