body, html, #app, #app > .row {
    height: 100%;
}
.frontend {
    height: 100%;
    overflow: auto;
}
body {
    background-image: $body-img;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    overflow-x: hidden;
    line-height: 1.5;
}
