@import '../helpers/_variables.scss';

// Global Classes

#admin-cpanel {
    background: white;
    color: #000;
    // 
    #avatarPreview {
        max-width: 300px;
    }
}

// Admin Sidebar Setttings
#admin-cpanel aside {
    ul {
        list-style-type: none;
    }
}