@import '../helpers/_variables.scss';

// Global Classes

#admin-cpanel {
    background: white;
    color: #000;
}

// Admin Sidebar Setttings
#admin-cpanel aside {
    ul {
        list-style-type: none;
    }
}