@import "../helpers/variables";

main {
    margin-top: -51px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-color: $page-bg;
}


.container {
    padding-left: 25px;
    padding-right: 25px;
}
nav {
    z-index: 10000;
}
.page{
    height: 100vh;
    padding-top: 100px;  

}
body {
    background-color: $body-bg;
    background-image: $body-img;
        background-repeat: no-repeat;
    background-size:cover;
}
